In [ ]:
# Q1 Explain with an example each when to use a for loop and a while loop.

In [ ]:
# Ans When we number of times a loop is to be executed then we use for loop and when we dont know the number of times loop will run and want to break the loop when condition is satisfied then we use while loop.

In [14]:
#for ex:
#we want to print 1st 10 natural numbers ----> we know loop will run 10 times
for i in range(1,11):
    print(i,end=' ')
# we want to know how many times a number can be divided by 3 before number becomes less than 10--------> we do not know number of times loop to be executed
numb=int(input("Enter any number: "))
count=0
while numb>10:
    numb/=3
    count+=1
print('This number can be divided ',count,' times before it is less than or equal to 10')

1 2 3 4 5 6 7 8 9 10

Enter any number:  45

This number can be divided  2  times before it is less than or equal to 10

In [ ]:
# Q2 Program to print sum and product of 1st 10 natural number using while loop and for loop

In [2]:
# Using FOR loop
total=0
product=1
for i in range(1,11):
    total=total+i
    product=i*product
print('sum of numbers is: ',total)
print('product of numbers is: ',product)

sum of numbers is:  55
product of numbers is:  3628800

In [3]:
# Using WHILE loop
total=0
product=1
i=1
while i<=10:
    total=total+i
    product=i*product
    i+=1
print('sum of numbers is: ',total)
print('product of numbers is: ',product)

sum of numbers is:  55
product of numbers is:  3628800

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user willbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [3]:
unit=int(input('Enter number of units: '))
if unit<=100:
    bill=4.5*unit
elif 100<unit<=200:
    bill=4.5*100+6*(unit-100)
elif 200<unit<=300:
    bill=4.5*100+6*100+10*(unit-200)
else:
    bill=4.5*100+6*100+10*100+20*(unit-300)
print('Your total bill for ',unit,' unit is ',bill)

Enter number of units:  310

Your total bill for  310  unit is  2250.0

In [ ]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and printthat list.

In [7]:
l=[]
l1=[]
for i in range(1,101):
    l.append(i**3)
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i**3)
print(l)
print(l1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [8]:
l=[]
l1=[]
i=0
while i<=100:
    l.append(i**3)
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i**3)
    i+=1
print(l)
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[0, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
#Q5. Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [10]:
s="I want to become a data scientist"
count=0
s1=[]
for i in s.lower():
    if i in ['a','e','i','o','u']:
        s1.append(i)
        count+=1
print(s1)
print(count)

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
12